*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
/*<!--supreme-container-->*/
.announcement-info{
    width: 100%;
    background: #5bc0de;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    padding: 10px 0;
}
.announcement-info p{
    display: inline-block;
}
.announcement-info a{
    margin: 7px 10px 0;
    font-size: 12px;
    float: right;
    color: #fff;
}

/*<!--nav-bar-->*/
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.fa-times{
    margin-right: 8px;
}
.brand{
    margin-right: 20px;
    padding: 20px 15px;
}
.logotip{
    height: 28px;
}
.collapse-bar{
    display: flex;
}
.nav-link{
    padding: 10px;
    color: rgba(0,0,0,0.3);
}
.btn-center{
    background: #7baf04;
    font-weight: 500;
    color:white;
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    border-radius: 2px;
}
.btn-center{
    text-align: center;
    padding: 12px 24px;
    color: white;
    background: #7baf04;
    font-weight: 500;
}
.btn-center:hover{
    transition: all 0.5s;
    background: #587d03;
}

/*<!--hero home center-->*/
.text-container{
    background: rgba(0,0,0,.10) no-repeat center center;
    background-blend-mode: darken;
    background-size: cover;
    height: 500px;
}
.center{
    text-align: center;
}
.homepage-center{
    padding: 150px 0 50px 0;
    font-size:45px;
    color:white;
}

/*<!--featured-company-->*/
.text-muted{
    text-align: center;
    padding: 90px 0 0;
    margin: 0 0 20px;
    color: #a6a6a6;
    font-size: 35px;
}
.featured-img{
    text-align: center;
}

/*<!--new-courses-->*/
#new-courses{
    text-align: center;
}
#new-courses .container{
    max-width: 1140px;
    margin: 0 auto;
}
.soft{
    margin: 0 0 8px;
    padding: 90px 0 45px;
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    color: #4d4d4d;
}
.content{
    padding:20px;
}
.content  h4{
    font-size: 1.5rem;
}
.knock:hover{
    transition: all .5s;
    background: rgba(255,255,255,0);
}
.knock{
    background: rgba(255,255,255,0.2);
    font-weight: 500;
    padding: 5px;
    border: 2px solid white;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
.imagine{
    display: flex;
    flex-direction: column;
}
.text{
    color: white;
}
.text h4{
    margin:0 0 10px;
}
.text p{
    padding-bottom: 20px;
}
.website{
    padding-bottom: 60px;
}
.first{
    padding-bottom: 13px;
}
.java{
    padding-bottom: 60px;
}
.coding {
    padding-bottom: 60px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.col-lg-6{
    margin: auto;
}
.programming{
    background: #b37bb5;
    border: 2px solid #a873a9;
}
.python{
    background:#679aba ;
    border: 2px solid #6090ae;
}
.html-css{
    background:#47ada4 ;
    border: 2px solid #42a299;
}
.javaScript{
    background: #f7cc41;
    border: 2px solid #e7bf3d;
}
.all{
    margin: 0 0 16px;
    padding: 50px 0;
}
.all a{
    color: #679aba;
}

/*<!--Question-->*/
#Question{
    padding: 90px 0;
    background: #262F36;
}
.light-container{
    max-width: 700px;
    margin: auto;
}
.first-title{
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    margin: 0 0 10px;
    padding: 0 0 64px;
}
.question-text p{
    margin: 0 0 20px;
    color: #ffffff;
}
.question-text a{
    color: #5b87a2;
}

/*<!--instructors-->*/
#instructors{
    background: #F8F8F8;
}
#instructors .container{
    margin: auto;
    max-width: 1140px;
}
.row-wrap{
    display: flex;
}
.col-6{
    line-height: 30px;
}
.col-6 a{
    color:#79a6c2;
}
.mattan{
    padding-top: 15px ;
}
/*<!--testimonials-->*/
#testimonials{
    margin: 20px;
    display: inline-block;
    padding-bottom: 45px;
}
.reviews p{
    margin: 0 0 16px;
    color: #646464;
    line-height: 24px;
}
.reviews strong{
    color: #545454;
}
.row-column{
    display: flex;
    flex-wrap: wrap;
}
.new p{
    margin: 0 0 3px ;
}
.work{
    max-width: 1140px;
}
.block{
    padding: 20px;
}
.col-lg-4{
    width: 33.3333%;
    padding: 15px;
}
.col-lg-4 img{
    margin-right: 20px;
    border-radius: 50%;
    height: 70px;
}
.call{
    border-radius: 5px;
    border: 1px solid #f2f2f2;
}
.column{
    display: flex;
    flex-wrap: wrap;
    /*margin: 0 -15px;*/
}

/*<!--join-->*/
#join .container{
    text-align: center;
}
.sofa{
    margin: 0 0 10px;
    color: #4d4d4d;
}
.learn{
    color: #4d4d4d;
    margin-bottom: 24px;
}
.footer{
    padding: 8px 16px;
    margin:10px 0 0;
    color: #4d4d4d;
}
.image {
    margin: 0 16px 5px 15px;
    padding: 15px 0 0;
}
.list{
    display: flex;
    justify-content: center;
}
.list-item{
    padding: 10px 10px;
}
.list-item a{
    color: #94b7ce;
}
